<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.repository.board.AnswerRepository">

	<insert id="answerInsert">
		insert into answer (answerNum, QUESbno, content, writer)
		values (seq_answer.nextval, #{QUESbno}, #{content}, #{writer})
	</insert>
	
	<select id="answerRead" resultType="AnswerVO">
		select * from answer where answerNum = #{answerNum}
	</select>
	
	<select id="answerReadByName" resultType="AnswerVO">
		select * from answer where writer = #{memberName}
	</select>
	
	<select id="answerListRead" resultType="AnswerVO">
		select * from answer where QUESbno = #{QUESbno}
	</select>
	
	<update id="answerUpdate">
		update answer set
			content = #{content}, 
			updateDate = sysdate
		where answerNum = #{answerNum}
	</update>
	
	<delete id="answerDelete">
		delete from answer where answerNum = #{answerNum}
	</delete>
	
	<delete id="answerListDelete">
		delete from answer where QUESbno = #{QUESbno}
	</delete>
	
	<delete id="answerListDeleteByName">
		delete from answer where writer = #{memberName}
	</delete>
	
	<select id="getAnswerCount" resultType="Long">
		select count(answerNum) from answer where QUESbno = #{QUESbno}
	</select>
	
</mapper>