<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.repository.board.NoticeBoardRepository">
	
	<insert id="noticeBoardInsert">
    	insert into NOTIboard(NOTIbno, title, content, writer)
    	values (seq_NOTIboard.nextval, #{title}, #{content}, #{writer})
    </insert>
    
	<select id="noticeBoardRead" resultType="NoticeBoardVO">
    	select * from NOTIboard where NOTIbno = #{NOTIbno}
    </select>
    
    <delete id="noticeBoardDelete">
    	delete from NOTIboard where NOTIbno = #{NOTIbno}
    </delete>
    
	<update id="noticeBoardUpdate">
    	update NOTIboard set
    	title = #{title},
    	content = #{content},
    	updateDate = sysdate
    	where NOTIbno = #{NOTIbno}
    </update>
	
</mapper>